PORT=8080
APP_NAME=bookmark
APP_USER_ID=demo-user
FIRESTORE_PROJECT_ID=
FIRESTORE_DATABASE_ID=books-app
INSTANCE_CONNECTION_NAME=
DB_NAME=bookmark
DB_USER=appuser
DB_PASSWORD=
AVG_RATING_FUNCTION_URL=
TRENDING_FUNCTION_URL=
